[user]
	name = Dominic Maglione
	email = dcmaglione@gmail.com
[color]
	ui = true
[init]
	defaultbranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
