{
 "trailingComma": "es5",
 "tabWidth": 4,
 "semi": false,
 "singleQuote": true,

 "overrides": [
     {
         "files": ["*.html", "*.css", "*.js"],
         "options": {
             "tabWidth": 2
         }
     }
 ]
}
